@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Oxygen', sans-serif;
}
*,*::after, *::before {
    box-sizing: inherit;
}
img {
    max-width: 100%; 
    height: auto; 
}

.wrapper_full{
    /* max-width: 1920px; */
    border: 2px solid violet;
    
    /* width: 100vw; */
}
/* Intro Header style start */
.wrapper_intro{
    z-index: 1;
    /* max-width: 1920px; */
    width: 100%;
    /* min-height: 830px; */
    /* margin: 0 auto; */
    border: tomato;
    display: flex;
}

/* .left_bar{
    max-width: 120px;
    background:#333333;
    
    min-height: 100%;
} */

.left_bar{
    margin: 0;
padding: 0;
width: 120px;
background:#333333;
position: fixed;
height: 100%;
overflow: auto;
}


.left_bar_opened{
    /* display: none; */
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height: 0;
    z-index: -10;
   text-align: center;
    background:#333333;
  
    color: white;
    transition: 0.8s;
}

.left_bar_opened button {
    display: none;
}
.main_image {
    margin-left: 120px;
    padding: 1px 16px;
    /* height: 1000px; */
    background: url(./Images/Main.jpg) no-repeat;
      background-size: cover;
  }

.header_nav{
    display: flex;
    position: absolute;
    right: 100px;
    top: 30px;
    justify-content: space-between;
    color: white;
    text-decoration: none;
}

.header_item{
    margin-right: 50px;
    font-family: 'Oxygen', sans-serif;
    
}

.header_item:last-child{
    margin-right: 0px;
}

.header_link{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

.header{
    margin-top: 450px;
    margin-left: 200px;
    font-size: 8vw;
    color: white;
    text-shadow: 0 0 10px rgba(173, 144, 11, 0.144),0 0 20px rgb(236, 140, 14),0 0 30px rgb(107, 75, 5);
}
.logo{
    margin: 30px 20px 20px 20px;
    max-width: 80px;
    height: auto;
}
.burger{
    background: url(./Images/burger.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin: 0px 45px 0px 45px;
}
.youtube_ico{
    background: url(./Images/yb_ico.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin: 500px 45px 20px 45px;
}
.telegram_ico{
    background: url(./Images/tm_ico.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin: 0px 45px 20px 45px;
}
.vk_ico{
    background: url(./Images/vk_ico.png) no-repeat center;
    width: 30px;
    height: 30px;
    margin: 0px 45px 20px 45px;
}

.burger_self{
    display: none;
    width: 20px;
    height: 20px;
    position: relative;
    margin: 30px 20px 20px 20px;
    
}

.burger_line{
    display: block;
    height:3px;
    width: 100%;
    background-color: #B59571;
    /* background-color: hsla(41, 95%, 34%, 0.993); */
   
    position: absolute;
    right: 0;
}
.burger_line_top{
    top: 0;
}
.burger_line_center{
   top: 45%;
   /* transform: translateY(-50%); */
}
.burger_line_bottom{
    bottom: 0;
}


/* Intro Header style end */

/* Over menu style start */

.burger_close{
    width: 40px;
    height: 40px;
    top: 40px;
    right: 8%;
    position: absolute;
    z-index: 2;
}
.burger_close_line{
    display: block;
    position: absolute;
    height: 1px;
    background-color: #B59571;
    width: 100%;
    z-index: 112;
}
.burger_close_line:first-child{
    transform: translateY(50%) rotate(45deg);
}
.burger_close_line:last-child{
    transform: translateY(-50%) rotate(-45deg);
}
.opened_navigation{
    /* margin-bottom: 20px; */
}
.opened_menu_item{
    margin: 50px;
    font-size: 2vw;
}




/* Main style start */
.wrapper_full2{
    max-width: 1196px;
    /* max-width: 80vw; */
    margin: 0 auto;
    border:2px solid yellow;

    

}
.wrapper_main{
    max-width: 1096px;
    /* margin-right: 0 ; */
    /* margin: 2%; */
    border:1px solid red;

}
.wrapper_about{
    margin: 150px 0;
    height: auto;
    /* max-height: 381px; */
    border: 2px solid green;
}

.wrapper_contacts{
    margin: 0 0 100px;
    height: auto;
    /* max-height: 381px; */
    border: 2px solid blue;
}

.about_pretitle{
        display: flex ;
        position: relative;
        font-size: 1.3rem;
        margin-bottom: 80px;

}
.pretitle_line::after{
    display: block;
    content: ''; 
    width: 60px;
    height: 3px;
    background-color: hsla(22, 95%, 34%, 0.356);
   
    position: absolute;
    top: 50%;
    margin-left: 30px;
  
  
}
.about_info{
    display: flex;
}
.about_title{
    width: 550px;
    font-size: 4vw;
    margin-right: 5px;
}
.about_title_h3{
    max-width: 196px;
    margin: 0 auto;
    
}
.about_text{
    max-width: 526px;
    font-size: 1.1rem;
    text-align: justify;
    
}

.wrapper_cards{
    /* max-width: 856px; */
    text-align: right;
    display: flex;
    justify-content: end;
    border: 3px solid palevioletred;
}
.card_border{
width: 416px;
height: 240px;
border: rgba(128, 128, 128, 0.432) 1px solid;
position: relative;
}

.right_card{
    margin-left: 35px;
}
.menu_image{
    position: absolute;
    top: 40px;
    left: 40px;
}

.menu_image:hover{
    border: 10px solid hsla(22, 95%, 34%, 0.356);   
}
.card_pretitle{
    position: absolute;
    top: 304px;
    left: 90px;
}

.wrapper_contacts_destination{
    display: flex;
    justify-content: space-between;
}

.destination_time{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 34px;
    text-align: center;
    align-items: center;
    /* width: 416px; */
    max-width: 416px;
    margin-right: 134px;
    font-size: 2.5rem;
    color: hsla(22, 95%, 34%, 0.356);
    
}

.part
{
    font-size: 1rem;
    color: black;
    margin-top: 15px;
}

.destination_contacts{
    background: url(./Images/map.jpg) no-repeat center;
    width: 746px;
    /* height: auto; */
    height: 400px;
    position: relative;
}
.contacts_block:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1) ;
    transform: scale(1.1);
}

.contacts_block{
    max-width: 416px;
    max-height: 349px;
    background: #333333ef;
    position: absolute;
    top: 55px;
    left:-110px;
    color: white;
    padding-bottom: 40px;

}
.address{
    margin: 40px 40px 20px 40px;
}
.phone{
margin: 0px 40px 50px 40px;
}
.ico{
    margin-right: 5px;
}
.scedule{
    margin: 0px 40px 15px;
}
.buttons{
margin-left: 40px;
}

.button{
    width: 145px;
    height: 42px;
    background-color: #333333ef;
    color: white;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.5)
}

.button:hover{
    background: #B59571;
}

/* Main style end */

/* footer style start */
.footer{
    width: 100%;
    background:#333333;
}
.footer_info{
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    
}
/* footer style end */

/* @media only screen and (min-width: 1600px) {
    .wrapper_full2 {max-width: 1296px ;}
    
  } */


  /* @media only screen and (min-width: 1400px) {
    .wrapper_full2 {max-width: 1096px ;}
    
  } */


  @media only screen and (max-width: 1399px) {
    .wrapper_full2 {max-width: 850px ;}
    .right_card{
        margin-left: 65px;
    }
    
  }

  
  @media only screen and (max-width: 1200px) {
    .wrapper_full2 {max-width: 700px ;}
    /* .right_card{
        margin-left: 65px;
    } */
    
  }

  
@media only screen and (max-width: 992px) {
    /* .wrapper_full2 {padding: 0 120px;} */
    .wrapper_full2 {max-width: 650px ;margin-left: 140px;}
   
    .right_card{ margin-left: 65px;}
    .menu_image{
        position: absolute;
        top: 20px;
        left: 20px;
    }
    .header{
        margin-top: 400px;
        margin-left: 150px;
    }
    .wrapper_about{
        margin: 90px 0;}
  } 

 
  @media only screen and (max-width: 768px) {
    .wrapper_full2 {max-width: 550px ; margin: 0 auto;}
    /* html{font-size: 14px;} */
    .about_title{font-size: 2em;}
    .about_text{font-size: 0.9em;}
    .menu_image:hover{border-width: 5px;}
    .menu_image{top:10px;left:10px}
    .card_border{ width: 316px; height: 200px;}
    /* .left_bar{width: 100%;} */
    .wrapper_about{margin:40px 0}
    .about_pretitle{ margin-bottom: 40px}
    .card_pretitle{position: absolute; top:90%; left:10%;}
    .header{ margin:0;
        margin-top: 30%;
    margin-left: 20%; 
    }
    .wrapper_intro{width: 100vw; display: block;}
    .left_bar{ width: 100%;
    height: auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    }
    .main_image{
        margin-left: 0;
    }
    .logo{
        margin: 30px 20px 20px 20px;
        max-width: 40px;
        height: auto;
    }
   .burger{
       display: none;
   }
    .wrapper_media{
        display: none;
    }
    .wrapper_contacts_destination{
        display: block;
    }
    .destination_contacts{
        background: url(./Images/map.jpg) no-repeat center;
        max-width: 100%;
        /* height: auto; */
        max-height: auto;
        position: relative;
    }
    .destination_time{
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .contacts_block{
        padding-top: 20px;
        max-width: 100%;
        max-height: auto;
        background: #333333ef;
        position: static;
        padding-bottom: 20px;
        font-size: 14px;
    
    }   
    
  } 

  
  @media only screen and (max-width: 600px) {
    .wrapper_full2 {max-width: 100% ;padding:0 10px;}
    
    .header_nav{display:none;}
    /* .wrapper_cards{display: block; text-align: center;justify-content: center;} */
    .header_wrapper{
        display:none;
    }
    .menu_image{position:static};

    .about_pretitle .card_pretitle{margin-top: 30px;}
  
    
    .burger_self{
        display: block;}

    
    .wrapper_cards{
        /* max-width: 856px; */
        text-align: right;
        display: block;
        justify-content: end;
        border: 3px solid palevioletred;
    }

    .card_border{
        width: 100%;
        height: auto;
        
        position: relative;
        
        font-size: bold;
        margin-bottom: 39px;
        }
        
        .right_card{
            margin: 10px 0 10px 0;
        }
        .menu_image{
            /* position: block; */
            width: 100%;
            /* top: 40px;
            left: 40px;
        } */
        

    
  } 
  
  

  
  
  
  
  
  }